.App {
  text-align: center;
  margin-top: 50px;
}

.categoryDiv {
  display: block;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid salmon;
  max-width: 300px;
  text-align: left;
  position: relative;
}

.btnDelete {
  padding: 0 5px;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #ccc;
  background: darksalmon;
}


.btnAdd {
  padding: 5px 10px;
  border: 1px solid #cccccc;
  background: darksalmon;
}

.btnAdd:hover,
.btnDelete:hover {
  background: lightsalmon;
}

.categoryInput {
  padding: 5px 10px;
  margin-right: 10px;
  border: 1px solid salmon;
}
.checked{
  color: dimgrey;
}
.AddedCategory{
  font-size: 14px;
  margin-right: 15px;
  padding: 5px 0;
  margin-top: 25px;
}
